/* Common styles */
body{
    margin: 0;
    font-family: "Poppins", sans-serif; 
    
    
}
/* Heading styles */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}
.nav-side-menu{
    display: none;
}
.nav-name{
    margin-top: 30px ;
    margin-left: 70px;
}
.nav-name h3{
    font-weight: 700;
    font-size: 24px;

}

.nav-menu{
    margin: 57px 50px 50px 50px;
    display: flex;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    padding: 20px;  
    font-weight: 600;
    font-size: 16px;
}


/* Main part CSS */

/* First Section css*/
.flexible-container{
    display: flex;

}

.half-width{
    width: 50%;
    margin: 50px 20px 50px 60px;
}
.half-width h1{
    
    font-weight:700;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.half-width img{
    width: 440px;
    height: 414px;
}
.first-button{
    width: 170px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: white;
    font-weight: 800;

}


/* Second Section css */
.nav-logos{
    display: flex;
    justify-content: center;
}

.nav-logos object{
    margin: 20px;
}

/* Third Section Csss */

.collections h1{
    font-size: 30px;
    text-align: center;
}

.popular-collection{
   
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   
    
}
.photo-frame{
    width: 329px;
    height: 476px; 
    border-radius: 5px;
    background-color:  #FFFFFF;
    box-shadow: 8px 5px 20px 5px rgba(211, 211, 211, 0.718);
    margin: 15px;
   

}
.photo{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    padding: 15px;
}
.photo-detail{
    padding: 0px 15px 40px 15px;

}
.photo-detail h2{
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}
.price{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0px 10px 0px;

}
.star{
    margin: 0;
}
.fa-star,.fa-star-half-stroke{
    color: goldenrod;
}
.fa-star-half-stroke{
    margin-right: 5px;
}

.shipping-info{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.018em;
    text-align: left;
    color:#787885;
    margin: 0;
}
.see-arrow{
    text-decoration: none;
    color: #E02C6D;
    margin-left: 85%;
}
.fa-arrow-right{
    margin-left: 8px;
}

/* Fourth section css */
.gear{
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.gear-photo img{
    width: 350px;
    height: 250px;
    border-radius: 7px;
}
.gear-details{
    margin: 40px 80px 50px 0px;

}
.gear-details h1{
     
    font-weight:600;
    font-size: 30px;
 
}
.second-button{
    width: 150px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background-color: #E02C6D;
    color: white;
    font-weight: 800;

}

/* Footer part css */
.footer{
    background-color:#0A0826;
    width: 100%;
    height: 220px;  
}
.footer-details{
   display: flex;
   flex-direction: column;
   align-items: center;

}
.footer-details h2{
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: left;
   margin-bottom: 0;

}
.footer-details p{
    
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #D9DBE1;
    margin-top: 5px;
    margin-bottom: 0px;

}
.fa-copyright{
    margin-left: 3px;
    margin-right: 3px;
}
.footer-icons{
    display: flex;
    
}
.fa-brands{
    margin-left: 20px;
    margin-top: 8px;

}
@media only screen and (max-width: 688px) {

    /*Nav Side Menu Style*/

   .nav-side-menu{
    display: block;
    margin: 40px 0px 30px 30px;
   }
   /* .nav-side-menu:hover.nav-menu{
    display: block;
   } */

    .nav-name{
        margin-top: 20px ;
        margin-left: 30px;
        margin-right: 10px;
    }
    .nav-name h3{
        font-size: 18px;
    
    }
    .nav-menu{
        margin: 20px 10px 30px 0px;
        
    }
    .nav-menu-info{
    display: none;

    }
    
    .nav-menu-icon{
        display: flex;
        
       
    }
    .nav-menu-icon a{
        padding-left: 2px;
    }

    /* first container  */
    .flexible-container{
        display: flex;
        flex-direction: column;
    
    
    }
    .half-width{
       width: 100%;
        margin: 20px 20px 10px 30px;
    }
   

.text{
    order: 2;
    margin-top: 0px;
}
.camera{
    order: 1;
}
.half-width h1{
    font-size: 25px;
    
}
.start{
    margin-left: 15px;
}
.influencer{
    margin-left: 80px;
}
.half-width p{
    font-weight: 400;
    font-size: 10px;
}
.half-width img{
    width: 280px;
    height: 240px;
}
.first-button{
    width: 170px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    margin-left: 65px;
}


/* Second Section css */
.nav-logos nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;
   margin-left: 8px;
   margin-right: 10px;

}

.nav-logos object{
    margin: 10px;
    width: 50px;
    height: 30px;
}

/* third section css*/

.see-arrow{
    margin-left: 70%;
}
.fa-arrow-right{
    margin-left: 4px;
}

/*fourth section css*/

.gear{
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.gear-photo img{
    width: 300px;
    height: 200px;
    border-radius: 7px;
    margin-left: 0;
}
.gear-details{
    margin: 30px 30px 50px 0px;

}
.gear-details h1{
     
    font-weight:600;
    font-size: 25px;
 
}
.second-button{
    width: 150px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background-color: #E02C6D;
    color: white;
    font-weight: 800;

}


   
    
}

